<!DOCTYPE html>
<html lang="en">
<%- include layouts/header %>

    <body>
        <%- include layouts/navbar %>
            <div class="row container-fluid">
                <div class="col-sm-2">
                    <%- include layouts/menu %>
                </div>
                <div class="col-sm-10 mt-3">
                    <%- body %>
                </div>
            </div>
            <%- include layouts/footer %>
    </body>

</html>